
.App {
  
  width: 100%;
}
/* Add this to your App.css file */

.avatar-placeholder {
  width: 70px;
  height: 70px;
  background-color: #495057; /* A neutral gray color */
  border-radius: 50%;
}

.card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  background-color: #343a40 !important; /* Slightly lighter on hover */
}